.qwerty{
    text-align: center;
    padding: 20px;
    /* border: 5px solid white; */
    /* color: white; */
}
#qwerty{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.zxcvb{
    color: white;
}