.margin-top {
  margin-top: 20px;
  /* color: white; */
}


h2, label{
    color: white;
}
.btn-submit {
  background-color: aquamarine;
  color: #3c4043;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
}

.card h4 {

  color: #3c4043;
}

.card p {
  color: #80868b;
}
#form{
  display: none;
}