<div class="container-fluid">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <form>
        <div class="form-group">

            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name">

        </div>
        <div class="form-group">

            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>

        </div>
        <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" required>

        </div>
    </form>
</div>

<!-- <div class="container">
    <h1>MY GOALS</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let goal of goals;let i = index'>
                <div>
                    <h6 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h6>
                    <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
                </div>

                <div *ngIf='goal.showDescription'>
                    <app-goal-detail [goal]='goal' (isComplete)='deleteGoal($event,i)'></app-goal-detail>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-goal-form></app-goal-form>
        </div>
    </div>
    <p *ngIf='goals.length > 5'>You have too many goals</p>
</div> -->